:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

/*reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/*general*/
.header {
    height: 70px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header a {
    padding: 5px 15px;
    text-decoration: none;
    color: var(--color-light);
    background-color: var(--color-black);
    border-radius: 10px;
    border: 1px solid var(--color-light);
}

.header a:hover {
    font-weight: bold;
}



.wrapper {
    height: 100vh;
}

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    /*grow-shrink-width*/
    min-height: 0;
}

footer {
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
    /*grow-shrink-height*/
}




nav ul {
    list-style: none;
}

/*main*/
main {
    overflow: auto;
    flex: 1 1 auto;
    /*grow-shrink-width*/
    color: white;
}

nav ul li a {
    color: var(--color-light);
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 3px solid orangered;
    font-weight: bold;
}

nav ul li {
    padding: 10px;
}

.row {
    margin: 20px 0px;

}

.col {
    width: calc(100% / 6);
}

.card {
    width: 100%;

}

.card img {

    width: 100%;
    object-fit: cover;
    display: block;

}

.under-image {
    text-align: center;
}

p {

    color: grey
}

.card .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}

.box {
    border-radius: 50%;
    overflow: hidden;

}

#sidebar {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    flex: 0 0 230px;
    color: var(--color-light);
    /*grow-shrink-width*/
}

#sidebar .logo img {
    width: 70%;
    padding-top: 20px;
}

.navbar ul{
    padding-left: 35px;
    padding-top: 10px;
}

.navbar img{
    width: 25px;
}

.navbar span{
    color: var(--color-light);
    
}

.navbar li{
    width: 100%;
    display: flex;
    align-items: center;
}

.small-square{
    height: 30px;
    width: 30px;
    background-color: var(--color-light);
    position: relative;
}

.inner-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-black);
   
}

.upper-navbar{
    flex: 1 1 auto;
}

.lower-navbar{
    flex: 0 0 70px;
}

.upper-navbar ul{
    list-style: none;
    line-height: 1.7;
}




/*flex-utility*/
.d-flex {
    display: flex;
}

.direction {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/*debug*/
.debug {
    border: 1px solid red;
}


/*space*/
.pl-35{
    padding-left: 35px;
}



/*media query*/
@media screen and (max-width: 1200px) {
    .main-content .col {
        width: calc(100% / 4);
    }

}



@media screen and (max-width: 992px) {
    .main-content .col {
        width: calc(100% / 3);
    }

}






@media screen and (max-width: 768px) {
    .main-content .col {
        width: calc(100% / 2);
    }

}







@media screen and (max-width: 576px) {
    .main-content .col {
        width: 100%;
    }

    #sidebar {
        flex: 0 0 70px;

    }


}